[Unit]
Description=FirstBoot
After=network.target
Before=rc-local.service
ConditionFileNotEmpty=/boot/root.sh

[Service]
ExecStart=/boot/root.sh
ExecStartPost=/bin/mv /boot/root.sh /boot/root.sh.done
Type=oneshot
RemainAfterExit=no
User=root

[Install]
WantedBy=multi-user.target
