[Unit]
Description=FirstBoot
After=network.target
Before=rc-local.service
ConditionFileNotEmpty=/boot/pi.sh

[Service]
ExecStart=/boot/pi.sh
ExecStartPost=/bin/mv /boot/pi.sh /boot/pi.sh.done
Type=oneshot
RemainAfterExit=no
User=pi

[Install]
WantedBy=multi-user.target
